@using SSOApp.ViewModels
@model SSOApp.ViewModels.UserToRolesViewModel
@{
    ViewData["Title"] = "Users To Role";
    //List<RoleViewModel> roles = ViewBag.Roles as List<RoleViewModel>;
    //List<RoleViewModel> userselectedroles = ViewBag.UserRoles as List<RoleViewModel>;
}

<div class="container">
    <div class="card-header">
        <h1>Add User</h1>
    </div>
    <div class="card-body">
        <p>
            @if (TempData["Success"] != null)
            {
                <label class="bg-success">@TempData["Success"]</label>
                TempData["Success"] = null;
            }
            @if (TempData["Failed"] != null)
            {
                <label class="bg-danger">@TempData["Failed"]</label>
                TempData["Failed"] = null;
            }
        </p>
        <div>
            Tenant Code : @Model.Tenant.Code
            <br />
            Role : @Model.RoleName
        </div>
        <div class="card-columns">
            <form asp-controller="Users" asp-action="SaveUsersToRole" method="post">
                <input type="hidden" name="hdnRoleID" value="@Model.RoleID" />
                <table class="table table-responsive">
                    @if (Model.GetUserByTCode.Count > 0)
                    {
                        <tr>
                            <td>
                                Users
                            </td>
                            <td>
                                @foreach (var item in Model.GetUserByTCode)
                                {
                                    var selected = Model.Users.Where(d => d.UserName == item.UserName).FirstOrDefault();
                                    <label>
                                        <input type="checkbox" name="chkUsers" value="@item.UserName" @if (selected != null) { <text> checked="checked" </text> } /> @item.FirstName @item.LastName (Email : @item.Email)
                                    </label><br />
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="2">No Users available for current tenant.</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2">
                            @if (Model.GetUserByTCode.Count > 0)
                            {
                                <input type="submit" name="btnSubmit" value="Add" />
                            }
                            <a href="@Url.Content("~/Users/UsersByRole?roleid="+Model.RoleID)"><input type="button" name="btnCancel" value="Back" /></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>