@model SSOApp.Proxy.Response<SSOApp.API.ViewModels.UserViewModel>
@{
    ViewData["Title"] = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="login-page">
        <div class="card-header">
            <h1>Add User</h1>
        </div>
        <br />
        <div>
            <b>@Model.PageSubheading</b>
        </div>
        <partial name="_ValidationSummary" />

        <br />
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">

                    <div class="panel-body">

                        <form asp-controller="Users" asp-action="SaveUser" method="post">

                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="@Model.Body.FirstName"> First Name</label>
                                    <input class="form-control" placeholder="FirstName" asp-for="@Model.Body.FirstName" autofocus>
                                    <span asp-validation-for="@Model.Body.FirstName"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Body.LastName">Last Name</label>
                                    <input class="form-control" placeholder="LastName" asp-for="@Model.Body.LastName">
                                    <span asp-validation-for="@Model.Body.LastName"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Body.Email"></label>
                                    <input class="form-control" placeholder="Email" asp-for="@Model.Body.Email">
                                    <span asp-validation-for="@Model.Body.Email"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Body.UserName">User Name</label>
                                    <input class="form-control" placeholder="Username" asp-for="@Model.Body.UserName">
                                    <span asp-validation-for="@Model.Body.UserName"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Body.Password"></label>
                                    <input type="password" class="form-control" placeholder="Password" asp-for="@Model.Body.Password" autocomplete="off">
                                    <span asp-validation-for="@Model.Body.Password"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Body.ConfirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" placeholder="ConfirmPassword" asp-for="@Model.Body.ConfirmPassword" autocomplete="off">
                                    <span asp-validation-for="@Model.Body.ConfirmPassword"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Body.ConcurrentLogin">Concurrent Login</label>
                                    <select id="MovieType" name="ConcurrentLogin">

                                        <option value="1">1</option>

                                        <option value="2">2</option>

                                        <option value="3">3</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" name="button" value="Add" />
                                    <a href="@Url.Content("~/Users/Index")" class="btn btn-default">Back to Users</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>