@model SSOApp.Proxy.Response<List<SSOApp.API.ViewModels.UserViewModel>>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card-header">
        <h1>User Management</h1>
    </div>
    <br />
    <div>
        <b>@Model.PageSubheading</b>
    </div>
    <p>
        @if (Model.ActionResponseCode == "Success")
        {
            <label class="bg-success">@Model.Message</label>
        }
        else if (!string.IsNullOrEmpty(Model.ActionResponseCode))
        {
            <label class="bg-danger">@Model.Message</label>
        }
    </p>

    <div style="float:right;">
        <a href="@Url.Content("~/Users/Create")"><input type="button" name="btnCreate" class="btn btn-success" value="Add User" /></a>
    </div>
    
    <table width="80%" class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    User Logged In
                </th>
                <th>
                    Last LogIn
                </th>
                <th>
                    Active
                </th>
                <th>
                </th>
            </tr>
        </thead>
        @if (Model.Body.Count > 0)
        {
            foreach (var item in Model.Body)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@(Convert.ToString(TempData["LoggedinUserId"]) == item.UserID ? "Yes":"No")</td>

                    <td>@(item.LastLoggedIn.HasValue ? item.LastLoggedIn.Value.ToString("dd/MM/yyyy hh:mm") : string.Empty)</td>
                    <td>@(item.IsActive ? "Yes" : "No")</td>
                    <td>
                        <a href="@Url.Content("~/Users/ChangeUserPassword/" + item.UserID)">Password</a> |
                        <a href="@Url.Content("~/RolesManagement/UserIndex?selectedUserid=" + item.UserID )">Roles</a> |
                        <a href="@Url.Content("~/Users/Edit/" + item.UserID)">Edit</a>
                        @if (Convert.ToString(TempData["LoggedinUserId"]) != item.UserID)
                        {
                            <a href="@Url.Content("~/Users/Delete/" + item.UserID)" onclick="return confirm('Are you sure want to delete this user?')"> | Delete</a>
                        }
                    </td>
                </tr>

            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    No Users Available
                </td>
            </tr>
        }
    </table>
