@model SSOApp.Proxy.Response<SSOApp.API.ViewModels.ModuleViewModel>
@{
    ViewData["Title"] = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card-header">
        <h1>Add Module</h1>
    </div>
    <br />
    <div>
        <b>@Model.PageSubheading</b>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="ModuleManagement" asp-action="Edit" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly">
                    <span>Please correct the following errors</span>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="@Model.Body.ModuleLabel" class="control-label">Module Label</label>
                        <input name="ModuleLabel" type="text" value="@Model.Body.ModuleLabel" class="form-control" required />
                        <span asp-validation-for="@Model.Body.ModuleLabel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Body.ModuleName" class="control-label">Module Name</label>
                        <input name="ModuleName" type="text" value="@Model.Body.ModuleName" class="form-control" required />
                        <span asp-validation-for="@Model.Body.ModuleName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" name="btnSubmit" value="Save" class="btn btn-primary" />
                        <a href="@Url.Content("~/ModuleManagement/Index")"><input type="button" name="btnCancel" value="Cancel" class="btn btn-secondary" /></a>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>