@model List<SSOApp.ViewModels.ModuleViewModel>
@{
    ViewData["Title"] = "Roles";
    List<SelectListItem> tenants = ViewBag.TenantDD as List<SelectListItem>;
}

<h1>Module Management</h1>
<p>
    @if (TempData["Success"] != null)
    {
        <label class="bg-success">@TempData["Success"]</label>
        TempData["Success"] = null;
    }
    @if (TempData["Failed"] != null)
    {
        <label class="bg-danger">@TempData["Failed"]</label>
        TempData["Failed"] = null;
    }
</p>

<div style="float:right;">
    <a href="@Url.Content("~/ModuleManagement/Create")"><input type="button" name="btnCreate" value="Add Module" /></a>
</div>
<div>
    <b>@TempData["TenaneDetails"];</b>
</div>

<table width="80%" class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <td>
                Module
            </td>
            <td>
                Fields
            </td>
            <td>
                Roles
            </td>

            <td>
                View
            </td>
            <td>
            </td>
        </tr>
    </thead>
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.ModuleName</td>
                <td>
                    <a href="@Url.Content("~/ModuleManagement/FieldsList?cid="+item.ID+"&tcode="+item.Tenant.Id +"&moduleId="+item.ID)">Field List</a>
                </td>
                <td>
                    <a href="@Url.Content("~/ModuleManagement/AddRoleToModule?moduleid="+item.ID+"&tenantcode="+item.Tenant.Id)">Roles List</a>
                </td>
                <td>
                    <a href="@Url.Content("~/ModuleManagement/Edit?cid="+item.ID+"&tcode="+item.Tenant.Id)">View</a>
                </td>

                <td>
                    <a href="@Url.Content("~/ModuleManagement/Edit?cid="+item.ID+"&tcode="+item.Tenant.Id)">Edit</a>
                    <a href="@Url.Content("~/ModuleManagement/Delete/"+item.ID)" onclick="return confirm('Are you sure want to delete this module?')">Delete</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6">
                No Modules Available
            </td>
        </tr>
    }
</table>