@model SSOApp.Proxy.Response<List<SSOApp.ViewModels.ClaimsViewModel>>

@{
    ViewData["Title"] = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card-header">
        <h1>Claim Management</h1>
    </div>
    <br />
    <div>
        <b>@Model.PageSubheading</b>
    </div>
    <p>
        @if (Model.ActionResponseCode == "Success")
        {
            <label class="bg-success">@Model.Message</label>
        }
        else if (!string.IsNullOrEmpty(Model.ActionResponseCode))
        {
            <label class="bg-danger">@Model.Message</label>
        }
    </p>
    <div style="float:right;">
        <a href="@Url.Content("~/ClaimsManagement/Create")"><input class="btn btn-primary" type="button" name="btnCreate" value="Add Role" /></a>
    </div>
    
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Claim
                </th>

                <th>
                    Is Available
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        @if (Model.Body?.Count > 0)
        {
            foreach (var item in Model.Body)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <label>@(item.IsActive ? "Yes" : "No")</label>
                    </td>
                    <td>
                        <a href="@Url.Content("~/ClaimsManagement/Edit?cid="+item.ID+"&tcode="+item.TenantID)">Edit</a> |
                        <a href="@Url.Content("~/ClaimsManagement/Delete/"+item.ID)" onclick="return confirm('Are you sure want to delete this role?')">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    No Roles Available
                </td>
            </tr>
        }
    </table>
</div>