@model List<SSOApp.ViewModels.ClaimsViewModel>
@{
    ViewData["Title"] = "Roles";
    List<SelectListItem> tenants = ViewBag.TenantDD as List<SelectListItem>;
}

<h1>Claims Management</h1>
<p>
    @if (TempData["Success"] != null)
    {
        <label class="bg-success">@TempData["Success"]</label>
        TempData["Success"] = null;
    }
    @if (TempData["Failed"] != null)
    {
        <label class="bg-danger">@TempData["Failed"]</label>
        TempData["Failed"] = null;
    }
</p>
<div style="float:right;">
    <a href="@Url.Content("~/ClaimsManagement/Create")"><input type="button" name="btnCreate" value="Add Role" /></a>
</div>
<div>
    @TempData["TenaneDetails"];
</div>
<table width="80%" class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <td>
                Claim
            </td>

            <td>
                Is Available
            </td>
            <td></td>
        </tr>
    </thead>
    @if (Model?.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <label>@(item.IsActive ? "Yes" : "No")</label>
                </td>
                <td>
                    <a href="@Url.Content("~/ClaimsManagement/Edit?cid="+item.ID+"&tcode="+item.TenantID)">Edit</a>
                    <a href="@Url.Content("~/ClaimsManagement/Delete/"+item.ID)" onclick="return confirm('Are you sure want to delete this role?')">Delete</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6">
                No Roles Available
            </td>
        </tr>
    }
</table>