@model List<SSOApp.ViewModels.RoleViewModel>
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Roles Management</h1>
<p>
    @if (TempData["Success"] != null)
    {
        <label class="bg-success">@TempData["Success"]</label>
        TempData["Success"] = null;
    }
    @if (TempData["Failed"] != null)
    {
        <label class="bg-danger">@TempData["Failed"]</label>
        TempData["Failed"] = null;
    }
</p>
<div style="float:right;">
    <a href="@Url.Content("~/RolesManagement/Create")"><input type="button" class="btn btn-success" name="btnCreate" value="Add Role" /></a>
</div>
<div>
    <b>@TempData["TenaneDetails"] </b>
</div>
<table width="80%" class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <td>
                Role
            </td>
            <td>
                Modules
            </td>
            <td>
                Users
            </td>
            <td>
            </td>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td><a href="@Url.Content("~/ModuleManagement/AddModuleToRole?roleid="+item.ID)">Module List</a></td>
            <td><a href="@Url.Content("~/Users/AddRoleToUser?roleid="+item.ID)">Users List</a></td>

            <td>
                <a href="@Url.Content("~/RolesManagement/Edit?rid="+item.ID)">Edit</a>|
                <a href="@Url.Content("~/ClaimsManagement/GetModuleClaim?roleid="+item.ID)">Claim</a>|
                <a href="@Url.Content("~/RolesManagement/Delete/"+item.ID)" onclick="return confirm('Are you sure want to delete this role?')">Delete</a>
            </td>
        </tr>
    }
</table>
