@model SSOApp.API.ViewModels.UserRoleViewModel
@{
    ViewData["Title"] = "UserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" media="(max-width: 767px)" href="~/css/StyleSheet.less" />

<h1>User Roles</h1>

<p>
    @if (TempData["Success"] != null)
    {
        <label class="bg-success">@TempData["Success"]</label>
        TempData["Success"] = null;
    }
    @if (TempData["Failed"] != null)
    {
        <label class="bg-danger">@TempData["Failed"]</label>
        TempData["Failed"] = null;
    }
</p>

<div>
    <b>@TempData["TenaneDetails"] </b>
</div>
<form asp-controller="RolesManagement" asp-action="SaveUserRoles" id="saveUserRole" method="post">
    <input type="hidden" id="hdnSelectedUerID" value='@Model.SelectedUserID' />
    <table class="table-borderless" style="width:80%">
        <thead>
            <tr>
                <th>
                    Available
                </th>
                <th>
                    &nbsp;
                </th>
                <th>
                    Requested
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td valign="top">
                    <select class="custom-select" id="avaialbleRoles" multiple size="8" style="width:40%">
                        @foreach (var i in Model.AvaialbleRoles)
                        {
                            <option value=@i.ID>@i.Name</option>
                        }
                    </select>
                </td>
                <td valign="top">
                    <div class="subject-info-arrows text-center">
                        <input type='button' id='btnAllRight' value='>>' class="btn btn-outline-primary" /><br />
                        <input type='button' id='btnRight' value='  >' class="btn btn-outline-primary" /><br />
                        <input type='button' id='btnLeft' value='<  ' class="btn btn-outline-primary" /><br />
                        <input type='button' id='btnAllLeft' value='<<' class="btn btn-outline-primary" />
                    </div>
                </td>
                <td valign="top">
                    <select class="custom-select" id="currentRoles" multiple size="8" style="width:40%">
                        @foreach (var i in Model.CurrentRoles)
                        {
                            <option value=@i.ID>@i.Name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr><td colspan="3"> <input type="submit" name="btnSubmit" id="btn-submit" value="Finished" /></td></tr>
        </tbody>
    </table>
</form>
<script type="text/javascript">
    $(function () {
        $("#btn-submit").click(function () {
            
            var selectedValues = $('#currentRoles option');
            let a = [];

            for (var i = 0; i < selectedValues.length; i++) {
                if (selectedValues[i].value != "") {
                    a.push(selectedValues[i].text);

                }
            }
           
            var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "mydata").val(a);
           
            var input1 = $("<input>")
                .attr("type", "hidden")
                .attr("name", "selectedUser").val('@Model.SelectedUserID')

            $('#saveUserRole').append(input);
            $('#saveUserRole').append(input1);


            return true;
        });
        $('#btnRight').click(function (e) {
            var selectedOpts = $('#avaialbleRoles option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#currentRoles').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
        $('#btnAllRight').click(function (e) {
            var selectedOpts = $('#avaialbleRoles option');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#currentRoles').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
        $('#btnLeft').click(function (e) {
            var selectedOpts = $('#currentRoles option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#avaialbleRoles').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
        $('#btnAllLeft').click(function (e) {
            var selectedOpts = $('#currentRoles option');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#avaialbleRoles').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });
    });
</script>
